{% extends 'page.html.twig' %}

{% block content %}
    <div class="grid-container">
        <div class="hero-container">
            <div class="hero">
                <img src="/images/proposal.jpg" />
                <h4>{{ 'view.gifts.title'|trans }}</h4>
            </div>
            <h1>{{ 'view.gifts.title'|trans }}</h1>
            <h2 class="envelope"><i class="fas fa-envelope"></i></h2>
            <p>{{ 'view.gifts.text'|trans }}
        </div>
    </div>
{% endblock %}
