{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <h1>Astrid <i class="fas fa-heart"></i> Sander</h1>
    </header>
    <div class="grid-container">
        <div class="hero-container">
            <div class="hero">
                <img src="/images/hero-square.jpg" />
                <h4>save-the-date</h4>
            </div>

            <div class="dates">
                <h1>Astrid <i class="fas fa-heart"></i> Sander</h1>
                <h2>&#39;s-Hertogenbosch</h2>

                <div class="grid-x grid-margin-x">
                    <div class="small-6 cell">
                        <p>10.08.18</p>
                        <p>Ceremonie / Ceremonia</p>
                        {% if not is_granted('ROLE_USER') %}
                            <a class="button large" href="{{ path('app_rsvp_index', {'_locale': 'nl'}) }}">Meld je aan!</a>
                        {% endif %}
                    </div>
                    <div class="small-6 cell">
                        <p>08.09.18</p>
                        <p>Feest / Fiesta</p>
                        {% if not is_granted('ROLE_USER') %}
                            <a class="button large" href="{{ path('app_rsvp_index', {'_locale': 'es'}) }}">Register (es)!</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
