{% extends 'base.html.twig' %}

{% block body %}
    <div id="home">
        <div class="hero">
            <img src="/images/hero-square.jpg" />
            <h4>save-the-date</h4>
        </div>

        <div class="dates">
            <h1>Astrid <i class="fas fa-heart"></i> Sander</h1>
            <h2>&#39;s-Hertogenbosch</h2>

            <div class="grid-x grid-margin-x">
                <div class="small-6 cell">
                    <p>10.08.18</p>
                    <p>Ceremonie / Ceremonia</p>
                </div>
                <div class="small-6 cell">
                    <p>08.09.18</p>
                    <p>Feest / Fiesta</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
