{% extends 'page.html.twig' %}

{% block content %}
    <header>
        <h1>Astrid <i class="fas fa-heart"></i> Sander</h1>
    </header>
    <div class="grid-container">
        <div class="collage-container">
            <div class="grid-x grid-margin-x collage">
                <div class="small-6 cell polaroid">
                    <img src="/images/meeting.jpg" />
                    <h4>Ontmoeting 05.08.14</h4>
                </div>
                <div class="small-6 cell polaroid">
                    <img src="/images/proposal.jpg" />
                    <h4>Aanzoek 14.08.17</h4>
                </div>
                <div class="small-6 cell polaroid">
                    <img src="/images/ceremony.jpg" />
                    <h4>Ceremonie 10.08.18</h4>
                </div>
                <div class="small-6 cell polaroid">
                    <img src="/images/party.jpg" />
                    <h4>Feest 08.09.18</h4>
                </div>
            </div>

            <div class="dates">
                <h1>Astrid <i class="fas fa-heart"></i> Sander</h1>
                <h2>&#39;s-Hertogenbosch</h2>

                <div class="grid-x grid-margin-x">
                    <div class="small-6 cell">
                        <p>10.08.18</p>
                        <p>Ceremonie / Ceremonia</p>
                    </div>
                    <div class="small-6 cell">
                        <p>08.09.18</p>
                        <p>Feest / Fiesta</p>
                    </div>
                </div>

                {% if not is_granted('ROLE_USER') %}
                    <a class="button large" href="{{ path('app_rsvp_index') }}">Meld je aan!</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
