// Colors
$app-menu-background: #444444;

// Foundation settings
$body-font-family: "Open Sans";
$header-font-family: "Roboto Slab";
$titlebar-background: $app-menu-background;
$topbar-background: $app-menu-background;

// Foundation imports
@import 'foundation';
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-off-canvas;
@include foundation-pagination;
@include foundation-reveal;
@include foundation-table;
@include foundation-title-bar;
@include foundation-top-bar;
@include foundation-visibility-classes;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');

// Global styles
body {
    background: repeat url(/images/background-light.jpg);
}

header {
    text-align: center;
}

@include breakpoint(small only) {
    .top-bar {
        display: none;
    }
}

@include breakpoint(medium) {
    .title-bar {
        display: none;
    }
}

.off-canvas {
    background-color: $app-menu-background;
}

.top-bar, .title-bar, .off-canvas .menu {
    color: $white;

    a {
        color: $white;

        &:hover {
            background-color: smart-scale($app-menu-background);
        }
    }

    .menu-text {
        font-weight: normal;
    }
}

#content {
    background-color: rgba(240, 240, 240, 0.7);
    padding-top: 15px;
    overflow: auto;
}

.hero-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;

    h1, h2 {
        text-align: center;
    }
}

.hero {
    margin: 30px 0;
    padding: 30px;
    background-color: $white;
    max-width: 600px;
    transform: rotate(-2deg);
    box-shadow: -3px 5px 10px $black;

    img {
        margin-bottom: 30px;
    }

    h4 {
        margin: 0;
        text-align: center;
    }
}

.dates {
    text-align: center;

    h1 {
        margin-bottom: 0;
    }

    p:first-child {
        font-size: 25px;
        margin-bottom: 0;
    }
}

#info {
    @include breakpoint(medium) {
        dl {
            @include xy-grid();

            dt {
                @include xy-cell(3);
            }

            dd {
                @include xy-cell(9);
            }
        }
    }
}

#map {
    height: 90vh;
    margin-bottom: 20px;
}

input[type=submit] {
    @include button();
}

.password-reset {
    display: inline-block;
    float: right;
}

.rsvp-check { color: get-color(success); }
.rsvp-question { color: $dark-gray; }
.rsvp-times { color: get-color(alert); }

.guest {
    .status {
        display: inline-block;
        width: 20px;
    }
    .actions {
        width: 40px;
        float: right;
    }
}

.rsvp-now {
    font-size: 1.5rem;
}

.envelope {
    font-size: 6rem;
}

@import "../../vendor/prezent/grid-bundle/Resources/public/css/prezent-grid.css"
