{% extends 'base.html.twig' %}

{% block body %}
    <div class="off-canvas-wrapper">
        {# Small screen menu #}
        <div class="off-canvas position-right" id="off-canvas" data-off-canvas>
            <ul class="menu vertical">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
            {# Title bar for small screens #}
            <div class="title-bar">
                <div class="title-bar-left">
                    <div class="title-bar-title">Astrid <i class="fas fa-heart"></i> Sander</div>
                </div>
                <div class="title-bar-right">
                    <button class="menu-icon" type="button" data-toggle="off-canvas"></button>
                </div>
            </div>

            {# Title bar for large screens #}
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li class="menu-text">Astrid <i class="fas fa-heart"></i> Sander</li>
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                    </ul>
                </div>
            </div>

            {# Page content #}
            <div id="content" class="grid-container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
